AutoVerUI/Web References/beanlandnetau/BeanAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://beanland.net.au/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://beanland.net.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://beanland.net.au/">
      <s:element name="LatestVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LatestVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LatestVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorScreenshot" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportErrorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LatestVersionSoapIn">
    <wsdl:part name="parameters" element="tns:LatestVersion" />
  </wsdl:message>
  <wsdl:message name="LatestVersionSoapOut">
    <wsdl:part name="parameters" element="tns:LatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ReportErrorSoapIn">
    <wsdl:part name="parameters" element="tns:ReportError" />
  </wsdl:message>
  <wsdl:message name="ReportErrorSoapOut">
    <wsdl:part name="parameters" element="tns:ReportErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="BeanAppServiceSoap">
    <wsdl:operation name="LatestVersion">
      <wsdl:input message="tns:LatestVersionSoapIn" />
      <wsdl:output message="tns:LatestVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportError">
      <wsdl:input message="tns:ReportErrorSoapIn" />
      <wsdl:output message="tns:ReportErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BeanAppServiceSoap" type="tns:BeanAppServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LatestVersion">
      <soap:operation soapAction="http://beanland.net.au/LatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportError">
      <soap:operation soapAction="http://beanland.net.au/ReportError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BeanAppServiceSoap12" type="tns:BeanAppServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LatestVersion">
      <soap12:operation soapAction="http://beanland.net.au/LatestVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportError">
      <soap12:operation soapAction="http://beanland.net.au/ReportError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BeanAppService">
    <wsdl:port name="BeanAppServiceSoap" binding="tns:BeanAppServiceSoap">
      <soap:address location="http://beanland.net.au/BeanAppService.asmx" />
    </wsdl:port>
    <wsdl:port name="BeanAppServiceSoap12" binding="tns:BeanAppServiceSoap12">
      <soap12:address location="http://beanland.net.au/BeanAppService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>